name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    container:
      image: python:3.13-slim
    steps:
      - name: Install basic dependencies
        run: |
          apt-get update
          apt-get install -y git curl cmake make lcov clang-tidy clang-format gnupg
          apt-get install -y build-essential

      - name: "Checkout the repository"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Mark Git directory as safe (needed when using Github runners)
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Install Conan
        uses: conan-io/setup-conan@v1
        with:
          cache_packages: true

      - name: Install dependencies with coverage flags and run tests
        run: make build-cov

      - name: Format and Lint
        run: make format lint

      # - name: Tests using CTest
      #   run: make test-cov

        # echo "Current lcov version: $(lcov --version)"
        # echo "Current GCC version: $(gcc --version)"
        # echo "Current cmake version: $(cmake --version)"
      - name: Generate report using lcov
        run: |
          lcov --capture --directory build/Debug --output-file build/Debug/reports/coverage.info --ignore-errors inconsistent
          genhtml build/Debug/reports/coverage.info --output-directory build/Debug/reports/coverage_html

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          report_type: test_results
          files: ./build/Debug/reports/junit-results.xml

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./build/Debug/reports/coverage.info

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: cov-summary
          path: build/Debug/reports/coverage_html
          if-no-files-found: error

  # security:
  #   needs: test
  #   runs-on: ubuntu-latest
  #   container:
  #     image: python:3.13-slim

  #   steps:
  #     - name: Install basic dependencies
  #       run: |
  #         apt-get update
  #         apt-get install -y git curl make
  #         curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
  #         apt-get install -y nodejs

  #     - name: "Checkout the repository"
  #       uses: actions/checkout@v4

  #     - name: Mark Git directory as safe (needed when using Github runners)
  #       run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

  #     - name: "Install uv"
  #       uses: astral-sh/setup-uv@v5
  #       with:
  #         enable-cache: true

  #     - name: Install module and dependencies
  #       run: |
  #         make install-dev

  #     - name: Bandit security check
  #       uses: Joel-hanson/bandit-report-artifacts@V1
  #       with:
  #         python_version: "3.13"
  #         project_path: ./python_template/
  #         ignore_failure: true

  #     - name: Create requirements.txt for next action
  #       run: |
  #         uv export --format requirements-txt > requirements.txt

  #     - name: Security vulnerabilities scan
  #       run: |
  #         uv run safety check -r requirements.txt

  #     - name: Report Bandit security check
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: security-report
  #         path: output/security_report.txt

  # coverage-to-pr:
  #     needs: test
  #     runs-on: ubuntu-latest
  #     timeout-minutes: 20
  #     permissions:
  #       actions: write
  #       contents: read
  #       packages: read
  #       pull-requests: write
  #       checks: write
  #       issues: write
  #     steps:
  #       - uses: actions/download-artifact@v4
  #         with:
  #           name: cov-summary

  #       - name: Code Coverage Summary
  #         uses: 5monkeys/cobertura-action@master
  #         with:
  #           path: coverage.xml
  #           fail_below_threshold: false
  #           show_line: true
  #           show_missing: true
  #           minimum_coverage: 80

  #       - name: Delete Artifact
  #         uses: geekyeggo/delete-artifact@v5
  #         with:
  #           name: cov-summary